[Unit]
Description=AutoSSH-maintained reverse ssh tunnel to idi-vm-machine - May 2016
ConditionPathExists=|/usr/bin/autossh/
ConditionPathExists=|/usr/bin/ssh
ConditionPathExists=|/bin/bash
After=network-online.target

[Service]
User=sshtunnel
ExecStart=/bin/bash -c 'autossh -M 0 -NT idi-vm-machine'

RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
