# Ignore files specific for Packages/User folder in Sublime settings,
# ref: https://packagecontrol.io/docs/syncing
./Package Control.last-run
./Package Control.ca-list
./Package Control.ca-bundle
./Package Control.system-ca-bundle
./Package Control.cache/
./Package Control.ca-certs/

