[user]
    email = christian.chavez@moller.no
    name = Christian Chavez
[push]
    default = simple
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[core]
    editor = vim
[alias]
    save = !sh -c 'export PREV=$(git symbolic-ref HEAD|cut -d/ -f3-) && git checkout -b "$1" && git commit -am "$1" && git checkout "$PREV"' -
    tree = log --graph --decorate --topo-order --all
